---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/adamki/followers?access_token=3df3249c5f371b4d58619f78855f479d244608c2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1446070528'
      Etag:
      - W/"2f117ef572d10deb2a10b38a110d4e0f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 8395f80c148f2fb881f1
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"selfup","id":9837366,"avatar_url":"https://avatars.githubusercontent.com/u/9837366?v=3","gravatar_id":"","url":"https://api.github.com/users/selfup","html_url":"https://github.com/selfup","followers_url":"https://api.github.com/users/selfup/followers","following_url":"https://api.github.com/users/selfup/following{/other_user}","gists_url":"https://api.github.com/users/selfup/gists{/gist_id}","starred_url":"https://api.github.com/users/selfup/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/selfup/subscriptions","organizations_url":"https://api.github.com/users/selfup/orgs","repos_url":"https://api.github.com/users/selfup/repos","events_url":"https://api.github.com/users/selfup/events{/privacy}","received_events_url":"https://api.github.com/users/selfup/received_events","type":"User","site_admin":false},{"login":"alexkehr","id":6226521,"avatar_url":"https://avatars.githubusercontent.com/u/6226521?v=3","gravatar_id":"","url":"https://api.github.com/users/alexkehr","html_url":"https://github.com/alexkehr","followers_url":"https://api.github.com/users/alexkehr/followers","following_url":"https://api.github.com/users/alexkehr/following{/other_user}","gists_url":"https://api.github.com/users/alexkehr/gists{/gist_id}","starred_url":"https://api.github.com/users/alexkehr/starred{/owner}{/repo}"[...]
