<h4>Followers</h4>
<div class="col s12 m8 offset-m2 l6 offset-l3">
  <ul>
  <% @response.followers.each do |follower| %>
    <li>
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            <%= image_tag "#{@response.image(follower)}", class: "responsive-img circle z-depth-2" %>
          </div>
          <div class="col s10">
            <span class="black-text">
              <h3>
                <%= follower %>
              </h3>
              <a class="modal-trigger" href="#event_modal">See this User's Events</a>
              <div id="event_modal" class="modal">
                <div class="modal-content">
                  <h4>Events</h4>
                  <ul>
                    <% @response.event(follower).each do |event| %>
                      <li><%= event %></li>
                    <% end %>
                  </ul>
                </div>
                <div class="modal-footer">
                  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Back</a>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
