<h4>Followers</h4>
<div class="col s12 m8 offset-m2 l6 offset-l3">
  <ul>
  <% @response.followers.each do |follower| %>
    <li>
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
          </div>
          <div class="col s10">
            <span class="black-text">
              <h3>
                <%= follower %>



              </h3>
              <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">add</i></a>
            </span>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
