<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Learn more about git-curious.</h5>
        <p class="grey-text text-lighten-4">This is a project for my third module at the <a href="http:turing.io">Turing</a> School of Software and Design.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://adamki.githib.io">About Me</a></li>
          <li><a class="grey-text text-lighten-3" href="http://github.com/adamki">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="http://github.com/adamki/git-curious">View This Project</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Adam Jensen
    </div>
  </div>
</footer>
