<div class="col s4 stats">
  <h5>Contributions in the last year</h5>
  <h1>
    <%= @response.commits_for_owned_repos %>
  </h1>
</div>
<div class="col s4 stats">
  <h5>Longest streak</h5>
</div>
<div class="col s4 stats">
  <h5>Current streak</h5>
</div>
