<main>
  <div class="row">
    <div class="col s12">
  <% if !current_user  %>
    <h1>Welcome to git-curious</h1>
  <% else %>
    <%= render 'name_banner' %>
    <%= render 'general_stats' %>
    <%= render 'listed_stats' %>
    <% end %>
  </div>
</main>
