<h1>Welcome to Git-Curious</h1>

<% if current_user %>
  <p>Welcome, <%= current_user.nickname %></p>
  <%= link_to 'Logout', logout_path %>
<% else %>
  <%= link_to 'Login with Github', login_path %>
<% end %>
