/****************************************
Reduce all font to light
 ***************************************/
*, h1, h2, h3, h4, h5,h6 {
  font-weight: 200;
}

.name-banner{
  height: 350px;
  border-bottom: 1px grey solid;
  padding-bottom: 20px;
  h1{
    margin-bottom: 50px;
  }
}

.stats{
  height: 200px;
  text-align: center;
  &:nth-child(3) {
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
  }
}

